/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar */
header {
  background-color: #333;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name h1 {
  color: orange;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.menu a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: orange;
}

/* Intro Section */
.home-section {
  background-color: rgb(119, 105, 30);
  color: white;
  padding: 50px 0;
  text-align: center;
}

.home-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-section p {
  font-size: 18px;
}

/* Main */
.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  font-family: 'Sofadi One', sans-serif;
}


/* Playlist */
.year-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.year-links li {
  list-style: none;
  background-color: #f8f9fa;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  transition: transform 0.3s ease;
}

.year-links li:hover {
  transform: translateY(-5px);
}

.year-links a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
  font-size: 18px;
}

.year-links a:hover {
  color: orange;
}

/* Subjects */
.subject-section {
  margin-bottom: 40px;
}

.subject-section h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.subject-section iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
}

.subject-section p {
  text-align: center;
  margin-top: 10px;
}

.subject-section a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

.subject-section a:hover {
  color: orange;
}

/* Coming soon */
.coming-soon {
  background-color: #333;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.coming-soon h2 {
  font-size: 30px;
}

/* Login */
.login-section {
  padding: 50px;
  text-align: center;
}

.login-section h2 {
  font-size: 30px;
}

.login-section p {
  font-size: 18px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  /*position: fixed;*/
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 16px;
}


